%h1.page-header Add User
.row
  .col-sm-5
    %form{name: "new_user_form", novalidate: true, 'ng-submit' => 'save()'}
      .form-group{'ng-class' => "{'has-error': errors.email}"}
        %label{name: 'email', class: 'control-label'} Email
        %input{type: 'email', name: 'email', 'ng-model': 'user.email', class: 'form-control', 'ng-required' => 'true'}
        .help-block.text-danger{'ng-show' => 'errors.email'} {{ errors.email.join(', ') }}
      .form-group{'ng-class' => "{'has-error': errors.role}", 'ng-show' => 'current_user.role == "admin"'}
        %label{name: 'role', class: 'control-label'} Role
        %select{name: 'role', 'ng-model': 'user.role', class: 'form-control', 'ng-options' => 'option.value as option.label for option in role_options'}
        .help-block.text-danger{'ng-show' => 'errors.role'} {{ errors.role.join(', ') }}
      .form-group{'ng-class' => "{'has-error': errors.preferred_working_hours_per_day}"}
        %label{name: 'preferred_working_hours_per_day', class: 'control-label'} Preferred working hours per day
        %input{type: 'number', name: 'preferred_working_hours_per_day', 'ng-model': 'user.preferred_working_hours_per_day', class: 'form-control', 'step': 0.01}
        .help-block.text-danger{'ng-show' => 'errors.preferred_working_hours_per_day'} {{ errors.preferred_working_hours_per_day.join(', ') }}
      .form-group{'ng-class' => "{'has-error': errors.password}"}
        %label{name: 'password', class: 'control-label'} Password
        %input{type: 'password', name: 'password', 'ng-model': 'user.password', class: 'form-control'}
        .help-block.text-danger{'ng-show' => 'errors.password'} {{ errors.password.join(', ') }}
      %input{type: 'submit', value: 'Save', class: 'btn btn-primary'}
      %a{href: '/#/users', class: 'btn btn-default'} Cancel
