@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datepicker3';
@import 'selectize.bootstrap3';

body {
  padding-top: 40px;
}

.page-header .pull-right .btn {
  vertical-align: top;
}

.panel > .panel-body.ng-hide + .table, .panel > .panel-body.ng-hide + .table-responsive, .table-responsive.ng-hide  {
  border-top: none;
}

a.btn-icon {
  color: #bbb;
  &:hover, &:focus {
    text-decoration: none;
    color: #000;
  }
  + a.btn-icon {
    margin-left: 2px;
  }
}

.form-inline + .panel {
  margin-top: 20px;
}

.auth-header {
  margin-top: 0;
  margin-bottom: 40px;
}